


<div class="container flex justify-center items-center">

<div class="container"> 
asd
    <%= @task.id %>
    <%= button_to "Delete", @blog, method: :delete, :class => "delete" %>
</div>

</div>









