
      <div class="after-logo-row bg-blue-cus">

        <div class="flex items-center gap-5 w-32" >
        
          <%= image_tag ("star.svg"), class: "" %>

          <h2>
            Documentation
          </h2>
        
      </div>

      <div class="flex items-center">
        <p class="login">
        Login
        </p>
      </div>
      
      </div>

      

      <div class="hero-container">
          <h3>
          Organize your activities
          </h3>
          <p>
          Make writing your daily activities a habit
          </p>
          <button class="mt-10 p-10 get-started ">
            Get Started
          </button>
      </div>


      <div class="login-form-container">
      <div class="login-close">
       <%= image_tag ("back-login.svg"), class: "back-login" %>
      </div>

        <div>
            <form class='login-form'>
                <%= image_tag ("login-logo.svg"), class: "login-logo" %>
                <input type="text" id="username" placeholder='username'>
                <input type="password" id="password" placeholder='password'>
                <button class="login-btn">
                    Login
                </button>
                    
            </form>

        <p class="mt-5 ml-3 text-blue-200 hover:text-blue-600 cursor-pointer">Forgot your password?</p>
  
           
            
        </div>

        
        
      </div>

