  

      <div class="after-logo-row bg-blue-cus">

        <div class="flex items-center gap-5 w-32" >
        
          <%= image_tag ("/assets/star"), class: "" %>

          <h2>
          Documentation
          </h2>
        
      </div>

      <div class="flex items-center">
        <p class="login">
        Login
        </p>
      </div>
      
      </div>

      <div class="hero-container">
          <h3>
          Organize your activities
          </h3>
          <p>
          Make writing your daily activities a habit
          </p>
          <button class="mt-10 p-10 get-started ">
            Get Started
          </button>
      </div>

