.summary-container {
    width: 800px;
    height: auto;
    margin: 20px auto;
    border: 1px solid #e8e8e8;
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.summary-container > div:nth-child(1) {
    border-right: 1px solid #e8e8e8;
    background-color: #f1eeee;
    padding: 10px;

}

.summary-container > div:nth-child(2) {
    padding: 10px 0;
    display:flex;
 
}

.category {
    font-size: 12px;
    text-transform: uppercase;
    display: flex; 
    margin: 5px 0;
}

.category > div:nth-child(1) {
    width: 80%;
}

.over-pending-incoming {
    display:flex;
    justify-content: space-around;
    margin: auto 0;
    width: 100%;
}


.over-pending-incoming > a > div {
    padding: 10px;
    border: 1px solid #e8e8e8;
    font-size: 12px;

    cursor: pointer;
}

.over-pending-incoming > a {
    transition: box-shadow .40s;
}


.over-pending-incoming > a:nth-child(1):hover  {
    box-shadow: 0 4px 4px rgba(223, 22, 22, 0.25);

}
.over-pending-incoming > a:nth-child(2):hover  {
    box-shadow: 0px 4px 4px rgba(215, 184, 8, 0.25);
}
.over-pending-incoming > a:nth-child(3):hover  {
    box-shadow: 0px 4px 4px rgba(8, 215, 36, 0.25);
}




.add-category {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0 5px 0;

}

.add-category > img {
    width: 25px;
    filter: invert(36%) sepia(83%) saturate(345%) hue-rotate(167deg) brightness(95%) contrast(85%);
    cursor: pointer;
    transition: transform .40s;
    margin: 0 auto;
}

.add-category > img:hover {
    transform: scale(1.2);
}

.category-item {
    transition: all .40s;
    cursor: pointer;
}
.category-item:hover  {
    transform: scale(1.1);
    
}