

<%= form_with(model: category,:class=> 'cat-update-hidden' ) do |form|%>
<% if category.errors.any? %>
    <div style="color: red" class="text-center">
          <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="">

  <div>
    <%= form.text_field :name ,id:'categoryNameHidden', class:"hideInput" %>
  </div>

 <div>
    <%= form.submit "Submit", id:'submitCatUpdate',class:'hideInput'%>
  </div>
   <% end %>

